{% extends "./base.html" %}

{% block title %} Gestión de Productos {% endblock %}

{% block body %}
<h1>Esta es la gestion de productos</h1>

 
  <div class="card">
    <div class="card-body">
        <form action="/registrarCliente/" method="POST">{% csrf_token %}
            <div class="form-group">
                <input type="text" id="txtNombre" name="txtNombre" class="form-control" placeholder="Nombre Cliente"
                    minlength="6" maxlength="50" required>
            </div>
            <div class="form-group">
                <input type="email" id="txtDireccion" name="txtDireccion" class="form-control" placeholder="@correo.com"
                    maxlength="50" required>
            </div>
            <div class="form-group">
                <input type="text" id="numNit" name="numNit" class="form-control"  placeholder="Nit" min="1" max="9"
                    value="" required>
            </div>
            <div class="form-group">
                <input type="text" id="numTelefono" name="numTelefono" class="form-control" placeholder="Telefono"  min="1" max="9"
                    value="" required>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
            </div>
        </form>
    </div>
</div>

<div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
    <h1>Listado de Productos</h1>
    <div class="table-responsive py-2">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Direccion</th>
                    <th>NIT</th>
                    <th>Telefono</th>
                    <th colspan="2">Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for p in clientes %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{p.id}}</td>
                    <td>{{p.nombre}}</td>
                    <td>{{p.direccion}}</td>
                    <td>{{p.nit}}</td>
                    <td>{{p.telefono}}</td>
                    <td><a href="/edicionCliente/{{p.id}}" class="btn btn-info">Editar</a></td>
                    <td><a href="#" class="btn btn-danger btnEliminacion">Eliminar</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>



{% endblock %}